.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vh 1vw;
    width: 15%;
    background-color: darkslategray;
    gap: 2vh;
    box-shadow: 0 0 10px black;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 22.75%);
    grid-template-rows: repeat(5, 17.6%);
    gap: 3%;
    height: 25vh;
}

.screen {
    background-color: lightgrey;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: right;
    padding-right: 5px;
    font-size: 2.5em;
    box-shadow: 0 0 5px black;
    font-family: Tektur;
}

button {
    flex: 1 1 20%;
    box-shadow: 0 0 5px black;
    font-family: Lato;
    font-size: 1em;
}

#zero {
    grid-column: span 2;
}
